:root {
    --fonts: 'Prompt', Arial, sans-serif;

    --color-font: black;
    --color-h4: #707070;
    --font-size: 1.1em;
    --font-size-menu: 15px;
    --font-size-close-button: 50px;

    --color-dot-active: #AAAAAA;
    --color-dot-inactive: white;
    --color-dot-hover-active: #AAAAAA;
    --color-list-active: black;
    --color-list-inactive: #AAAAAA;
    --color-list-hover-active: #707070;

    --color-progress-bar: black;
    --color-icons: black;
    
    --font-size-icons: 25px;
    --font-size-icons-hover: 30px;
    --font-size-icons-git-linkedin: 30px;
    --font-size-icons-git-linkedin-hover: 35px;
    
    
    --font-size-mobile: 15px;
    --font-size-icons-mobile: 25px;
    --font-size-icons-git-linkedin-mobile: 30px;
    --color-section-title-mobile: white;
    --color-section-title-gradient-mobile: #ebebeb;
    
  }

#all-content {
    text-align: center;
    color: var(--color-font);
    font-family: var(--fonts);
    font-size: var(--font-size);
    min-height: var(--body-height);
    margin-left:auto;
    margin-right:auto;
    /* background-image: linear-gradient(180deg, rgb(252, 230, 230) 0%, rgb(255, 255, 255) 100%); */
}

h4 {
    color: var(--color-h4);
}

a {
    color: var(--color-font);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#img-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    height: auto;
    border-radius: 50%;
}

.more-info-link:hover {
    cursor: pointer;
}

.more-info {
    background-color: var(--color-section-title-mobile);
    box-shadow: 10px 10px 60px var(--color-list-hover-active);
    display: none;
    height: auto;
    max-width: 600px;
    min-height: 200px;
    max-height: 70vh;
    vertical-align: middle;
    width: 60%;
    position: fixed;
    border-radius: 8px;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    top: 20vh;
    left: calc(50vw - 300px);
    z-index: 20;
}

.main-info {
    position: fixed;
    width: 100%;
}

.more-info-close {
    font-size: var(--font-size-close-button);
    display: block;
    position: sticky;
    top: 0px;
    transform: translate(280px, -20px);
    max-height: 15px
}

.more-info-close:hover {
    cursor: pointer;
}

.section {
    height: auto;
    margin-right: 250px;
    margin-left: 250px;
}

.section-animation {
    animation: fadeIn 1s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.show-more-info-animation {
    animation: fadeIn 0.5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.hide-more-info-animation {
    animation: hidePopUp 0.5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.section-title {
    padding-top: 3%;
}

.main-menu {
    font-size: var(--font-size-menu);
    position: fixed;
    top: 40%;
    right: 20px;
    text-align: right;
}

.menu-list {
    list-style: none;
}

.list-element {
    margin-top: 5%;
    color: var(--color-list-inactive);
}

.dot {
    height: 13px;
    width: 13px;
    border-style: solid;
    border-color: var(--color-dot-active);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    transform: translate(0px, 20%);
}

.section-active {
    color: black;
}

.dot-active {
    background-color: var(--color-dot-active);
}

.section-inactive{
    color: var(--color-list-inactive);
}

.dot-inactive {
    background-color: var(--color-dot-inactive);
}

.list-element:hover {
    color: var(--color-list-hover-active);
    cursor: pointer;
}

.list-element:hover .dot {
    background-color: var(--color-dot-hover-active);
}

.contacts-icons {
    list-style: none;
    position: fixed;
    top: 50%;
    left: 20px;
    text-align: left;
}

.contacts-icons a {
    color: var(--color-icons);
    font-size: var(--font-size-icons);
}

.contacts-icons a:first-child {
    font-size: var(--font-size-icons-git-linkedin);
}

.contacts-icons a:last-child {
    font-size: var(--font-size-icons-git-linkedin);
}

.contacts-icons a:hover {
    font-size: var(--font-size-icons-hover);
}

.contacts-icons a:first-child:hover {
    font-size: var(--font-size-icons-git-linkedin-hover);
}

.contacts-icons a:last-child:hover {
    font-size: var(--font-size-icons-git-linkedin-hover);
}

.icons-list {
    opacity: 100;
    display: inherit;
}

.contacts-button {
    display: none;
}

.info-section {
    margin-top: 3%;
}

#skills .info-section {
    margin-top: 50px;
}


.skill-group-learning {
    padding: 1% 50px;
}

@media only screen and (max-width: 1100px) {

    #all-content {
        font-size: var(--font-size-mobile);
    }

    #img-perfil {
        width: 40vw;
    }

    .main-menu {
        display: none;
        height: auto;
    }

    .more-info {
        box-shadow: none;
        height: auto;
        max-width: none;
        min-height: none;
        max-height: none;
        vertical-align: middle;
        width: auto;
        position: initial;
        border-radius: none;
        margin: auto;
        overflow-y: none;
        top: auto;
        left: auto;
        z-index: 0;
    }

    .main-info{
        position: relative;
        width: auto;
    }

    .more-info-close {
        display: none;
    }

    .section {
        margin: auto;
        margin-top: 100px;
    }
    
    .info-section {
        margin: 3% 40px;
        margin-top: 15%;
    }

    .section-title {
        position: -webkit-sticky;
        position: sticky;
        padding-top: 4%;
        padding-bottom: 3%;
        height: 6vh;
        top: 0;
        background-image: linear-gradient(var(--color-section-title-mobile), var(--color-section-title-gradient-mobile));
        border-radius: 0 0 30% 30%;
        box-shadow: 0px 15px 15px var(--color-dot-active);
    }
    
    .contacts-icons {
        top: auto;
        left: 10px;
        bottom: 10px;
    }

    .icon-list-show {
        display: inherit;
    }

    .icon-list-hide {
        display: none;
    }

    .contacts-button {
        display: inline-block;
        width: var(--font-size-icons-mobile);
        /* background-color: var(--color-section-title-mobile); */
    }

    .contacts-icons a {
        font-size: var(--font-size-icons-mobile);
    }

    .contacts-icons a:hover {
        font-size: var(--font-size-icons-mobile);
    }

    .contacts-icons a:first-child {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }
    
    .contacts-icons a:last-child {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }

    .contacts-icons a:first-child:hover {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }
    
    .contacts-icons a:last-child:hover {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }


    #github-link {
        animation: fadeIn 2s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }

    #mail-link {
        animation: fadeIn 1.5s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }

    #linkedin-link {
        animation: fadeIn 1s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 500px) {
    #img-perfil {
        width: 60vw;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

@keyframes showPopUp {
    from {
        top: 100vh;
    }
    to {
        top: 20vh;
    }
}

@keyframes hidePopUp {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}

