:root {
    --color-font: black;
    --color-h4: #707070;
    --font-size: 20px;
    --font-size-menu: 15px;

    --color-dot-active: #AAAAAA;
    --color-dot-inactive: white;
    --color-dot-hover-active: #AAAAAA;
    --color-list-active: black;
    --color-list-inactive: #AAAAAA;
    --color-list-hover-active: #707070;

    --color-progress-bar: black;
    --color-icons: black;
    
    --font-size-icons: 25px;
    --font-size-icons-hover: 30px;
    --font-size-icons-git-linkedin: 30px;
    --font-size-icons-git-linkedin-hover: 35px;
    
    
    --font-size-mobile: 15px;
    --font-size-icons-mobile: 25px;
    --font-size-icons-git-linkedin-mobile: 30px;
    --color-section-title-mobile: white;
    --color-section-title-gradient-mobile: #ebebeb;
    
  }


#all-content {
    text-align: center;
    color: var(--color-font);
    font-family: 'Prompt', sans-serif;
    font-size: var(--font-size);
    min-height: var(--body-height);
    margin-left:auto;
    margin-right:auto;
}

h4 {
    color: var(--color-h4);
}

a {
    color: var(--color-font);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#img-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    border-radius: 50%;
}

.main-info {
    position: fixed;
    width: 100%;
}

.section {
    height: auto;
    margin: 100px 250px;
}

.section-animation {
    animation: translate 1s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.section-title {
    padding-top: 3%;
}

.main-menu {
    font-size: var(--font-size-menu);
    position: fixed;
    top: 40%;
    right: 20px;
    text-align: right;
}

.menu-list {
    list-style: none;
}

.list-element {
    margin-top: 5%;
    color: var(--color-list-inactive);
}

.dot {
    height: 13px;
    width: 13px;
    border-style: solid;
    border-color: var(--color-dot-active);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    transform: translate(0px, 20%);
}

.section-active {
    color: black;
}

.dot-active {
    background-color: var(--color-dot-active);
}

.section-inactive{
    color: var(--color-list-inactive);
}

.dot-inactive {
    background-color: var(--color-dot-inactive);
}

.list-element:hover {
    color: var(--color-list-hover-active);
    cursor: pointer;
}

.list-element:hover .dot {
    background-color: var(--color-dot-hover-active);
}

.contacts-icons {
    list-style: none;
    position: fixed;
    top: 50%;
    left: 20px;
    text-align: left;
}

.contacts-icons a {
    color: var(--color-icons);
    font-size: var(--font-size-icons);
}

.contacts-icons a:first-child {
    font-size: var(--font-size-icons-git-linkedin);
}

.contacts-icons a:last-child {
    font-size: var(--font-size-icons-git-linkedin);
}

.contacts-icons a:hover {
    font-size: var(--font-size-icons-hover);
}

.contacts-icons a:first-child:hover {
    font-size: var(--font-size-icons-git-linkedin-hover);
}

.contacts-icons a:last-child:hover {
    font-size: var(--font-size-icons-git-linkedin-hover);
}

.icons-list {
    opacity: 100;
    display: inherit;
}

.contacts-button {
    display: none;
}

.info-section {
    margin-top: 3%;
}

#skills .info-section {
    margin-top: 50px;
}

.single-skill {
    display: flex;
    height: 50px;
    margin-top: 20px;
}

.blank-div {
    -ms-flex: 1;
    flex: 1;
}

.skill-title {
    -ms-flex: 1;
    flex: 1;
    max-width: 150px;
    min-width: 125px;
    height: 100%;
    align-self: center;
    text-align: right;
}

.progress-bar {
    -ms-flex: 1;
    flex: 1;
    margin-left: 50px;
    height: 20px;
    border-style: solid;
    border-color: var(--color-progress-bar);
    max-width: 350px;
    min-width: 150px;
}

.actual-progress {
    height: 100%;
    background-color: var(--color-progress-bar);
}

#js-bar {
    width: 85%;
}

#java-bar {
    width: 75%;
}

#cpp-bar {
    width: 65%;
}

#python-bar {
    width: 55%;
}


@media only screen and (max-width: 1100px) {

    #all-content {
        font-size: var(--font-size-mobile);
    }

    #img-perfil {
        width: 40vw;
    }

    .main-menu {
        display: none;
        height: auto;
    }

    .main-info{
        position: relative;
        width: auto;
    }
    
    .info-section {
        margin: 3% 40px;
    }

    .section {
        margin: auto;
        margin-top: 100px;
    }

    .section-title {
        position: -webkit-sticky;
        position: sticky;
        padding-top: 4%;
        padding-bottom: 3%;
        height: 6vh;
        top: 0;
        background-image: linear-gradient(var(--color-section-title-mobile), var(--color-section-title-gradient-mobile));
        border-radius: 0 0 30% 30%;
        box-shadow: 0px 15px 15px var(--color-dot-active);
    }
    
    .single-skill {
        display: initial;
        margin: auto;
    }

    .skill-title {
        min-width: none;
        max-width: none;
        text-align: center;
    }

    .blank-div {
        display: none;
    }
        
    .progress-bar {
        width: 200px;
        margin: auto;
    }

    .contacts-icons {
        top: auto;
        left: 10px;
        bottom: 10px;
    }

    .icon-list-show {
        display: inherit;
    }

    .icon-list-hide {
        display: none;
    }

    .contacts-button {
        display: inline-block;
        width: var(--font-size-icons-mobile);
        /* background-color: var(--color-section-title-mobile); */
    }

    .contacts-icons a {
        font-size: var(--font-size-icons-mobile);
    }

    .contacts-icons a:hover {
        font-size: var(--font-size-icons-mobile);
    }

    .contacts-icons a:first-child {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }
    
    .contacts-icons a:last-child {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }

    .contacts-icons a:first-child:hover {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }
    
    .contacts-icons a:last-child:hover {
        font-size: var(--font-size-icons-git-linkedin-mobile);
    }


    #github-link {
        animation: animate-icons 2s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }

    #mail-link {
        animation: animate-icons 1.5s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }

    #linkedin-link {
        animation: animate-icons 1s linear 0s 1;
        animation-play-state: initial;
        animation-fill-mode: forwards;
    }
}

@media only screen and (max-width: 500px) {
    #img-perfil {
        width: 60vw;
    }
}

@keyframes translate {
    from {
        opacity: 0;
        transform: translate(0px, 80px);
    }
    to {
        opacity: 100;
        transform: translate(0px, 0px);
    }
}

@keyframes animate-icons {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}


