html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    color: black;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
}

#img-perfil {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vh;
    border-radius: 50%;
}

.main-info {
    position: relative;
    /* overflow-y: scroll; */
    scroll-snap-type: y mandatory;
}

.main-info .section {
    scroll-snap-align: start;
}

.section h2 {
    padding-top: 3%;
}

.main-menu {
    position: absolute;
    top: 0;
    /* right: 0.5%; */
    margin-left: 93.5%;
    text-align: right;
    height: 100%;
}

.menu-list {
    list-style: none;
    /* position: -webkit-sticky; */
    position: fixed;
    top: 50%;
    z-index: 2;
}

.list-element {
    margin-top: 5%;
    color: #AAAAAA;
}

.dot {
    height: 13px;
    width: 13px;
    /* background-color: white; */
    border-style: solid;
    border-color: #AAAAAA;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    /* margin-right: 20px; */
    transform: translate(0px, 20%);
}

.section-active {
    color: #5B5B5B;
    font-weight: bold;
}

.dot-active {
    background-color: #AAAAAA;
}

.section-inactive{
    color: #AAAAAA;
    font-weight: unset;
}

.dot-inactive {
    background-color: white;
}

.list-element:hover {
    color: #707070;
    cursor: pointer;
}

.list-element:hover .dot {
    background-color: #AAAAAA;
}


@media only screen and (max-width: 900px) {
    /* html {
        scroll-behavior: smooth;
    } */

    .main-menu {
        display: none;
        height: auto;
    }
    
    .section {
        display: inherit;
    }

    .section h2 {
        position: sticky;
        top: 0;
        padding-top: 3%;
        background-color: white;
        height: 5%;
    }
  }
